## ***Bibliotecas***

In [ ]:
pip install psycopg2-binary==2.8.6

In [ ]:
pip install matplotlib

In [3]:
! pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip install pyspark

In [ ]:
!pip install gcsfs

In [ ]:
!pip install sqlalchemy

In [ ]:
!pip3 install googletrans==3.1.0a

In [8]:
# utilizado para conexão com GCP 
import os
from google.cloud import storage

# conexão com Mongo DB
from pymongo import MongoClient

# conexão Postgres
from sqlalchemy import create_engine
import sqlalchemy as create_engine


#IMPORTA AS BIBLIOTECAS NECESSÁRIAS PYSPARK
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *


# bibliotecas tratamento
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#tradução
import googletrans 
from googletrans import Translator

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import os
from google.cloud import storage

## ***Conexão Spark***

In [11]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

## ***Conexão Mongo Atlas***

In [12]:
# conectando com o mongodb para coletar dados
myclient = MongoClient("mongodb+srv://soulcode:a1b2c3@cluster0.dvp4c.mongodb.net/test")

## ***Conector Chave de acesso GCP***

In [13]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA bucket GCP
serviceAccount = '/content/drive/MyDrive/Dataset/ProjetoFinal/senha.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [14]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
clientt = storage.Client()

## ***Json - 'opec-annual-completo.json'***

***Alterações do dataset***

 Colunas **dropadas** referente ao arquivo json -
 
 'datasetid', 'recordid','record_timestamp'

colunas **dropadas** pois estavam com valores vazios 

'indicator_note', 'location_f4_4', 'location_f4_4_5', 'location_f4_4_5_6', 'location_f4_4_5_6_7', 'location_f4_4_5_6_7_8', 'location_f4_4_5_6_7_8_9', 'location_f4_4_5_6_7_8_9_10', 'location_f4_4_5_6_7_8_9_10_11','location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16_17', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18','location_f4_4_5_6_7_8_9_10_11_12', 'location_f4_4_5_6_7_8_9_10_11_12_13', 'location_f4_4_5_6_7_8_9_10_11_12_13_14', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16'

coluna **dropada** 'date' - foi extraido o mes e ano e e inserida em nov as colunas 

**Colunas criadas** 

'Ano' - 'Mes'
extraida informações da coluna 'date'

-- **Coluna Value** foi encontrado 6107 - informados como 0(zero)

### **Coletando dados do Bucket - Json**

In [15]:
#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = clientt.get_bucket('projeto-final-parte-2')
bucket.blob('dados_b.json')

In [16]:
# Salvar em um Dataframe
#CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
path = 'https://storage.googleapis.com/projeto-final-parte-2/Original%20/dados_b.json'

dforiginal = pd.read_json(path)

### **Tratamento com Pandas - Json**

In [17]:
dforiginal

,datasetid,recordid,fields,record_timestamp
0,opec-annual-statistical-bulletin-2015,f6b9bc8852172b23858551e1f3af907361a17fbe,"{'date': '2014-12', 'location_name': 'United K...",2021-10-12T21:01:49.047-03:00
1,opec-annual-statistical-bulletin-2015,649f836f376cd3d1658309950d8d636cc90f2560,"{'date': '2015-06', 'location_name': 'United K...",2021-10-12T21:01:49.047-03:00
2,opec-annual-statistical-bulletin-2015,f3128e2a80a1ee2c6011a451c98f4faba64fed73,"{'date': '2016-03', 'location_name': 'United K...",2021-10-12T21:01:49.047-03:00
3,opec-annual-statistical-bulletin-2015,117b7d0013e0647b4587f3698c29e1c26b497821,"{'date': '2016-12', 'location_name': 'United K...",2021-10-12T21:01:49.047-03:00
4,opec-annual-statistical-bulletin-2015,452049adec801e21cb7e913f57b10c11ef35fa0a,"{'date': '2017-06', 'location_name': 'United K...",2021-10-12T21:01:49.047-03:00
...,...,...,...,...
109167,opec-annual-statistical-bulletin-2015,e5d8ff8df7b5c7ce998968e4b52309bb910abaf7,"{'date': '1965-01', 'location_name': 'Argentin...",2021-10-12T21:01:49.047-03:00
109168,opec-annual-statistical-bulletin-2015,ea81739428e3aba54efe0a5432720fa975a86a58,"{'date': '1973-01', 'location_name': 'Argentin...",2021-10-12T21:01:49.047-03:00
109169,opec-annual-statistical-bulletin-2015,86e3c8f8356a7272575421a1ea919ce37f6b8977,"{'date': '1974-01', 'location_name': 'Argentin...",2021-10-12T21:01:49.047-03:00
109170,opec-annual-statistical-bulletin-2015,17f220a648c616fd91f8c3ee7235f66d26ee3ae7,"{'date': '1976-01', 'location_name': 'Argentin...",2021-10-12T21:01:49.047-03:00
109171,opec-annual-statistical-bulletin-2015,680a862e6413937de23f57e9134f857fc0b35bf9,"{'date': '1977-01', 'location_name': 'Argentin...",2021-10-12T21:01:49.047-03:00

In [18]:
# excluindo colunas 
dforiginal.drop(columns=['datasetid', 'recordid','record_timestamp'])

                                                   fields
0       {'date': '2014-12', 'location_name': 'United K...
1       {'date': '2015-06', 'location_name': 'United K...
2       {'date': '2016-03', 'location_name': 'United K...
3       {'date': '2016-12', 'location_name': 'United K...
4       {'date': '2017-06', 'location_name': 'United K...
...                                                   ...
109167  {'date': '1965-01', 'location_name': 'Argentin...
109168  {'date': '1973-01', 'location_name': 'Argentin...
109169  {'date': '1974-01', 'location_name': 'Argentin...
109170  {'date': '1976-01', 'location_name': 'Argentin...
109171  {'date': '1977-01', 'location_name': 'Argentin...

[109172 rows x 1 columns]

In [19]:
df001 = pd.json_normalize(dforiginal['fields'])

In [20]:
# excluindo colunas 
df001.drop(['indicator_note', 'location_f4_4', 'location_f4_4_5', 'location_f4_4_5_6', 'location_f4_4_5_6_7', 'location_f4_4_5_6_7_8', 'location_f4_4_5_6_7_8_9', 'location_f4_4_5_6_7_8_9_10', 'location_f4_4_5_6_7_8_9_10_11' ], inplace = True , axis = 1)

In [21]:
# excluindo colunas 
df001.drop(['location_f4_4_5_6_7_8_9_10_11_12', 'location_f4_4_5_6_7_8_9_10_11_12_13', 'location_f4_4_5_6_7_8_9_10_11_12_13_14', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16'], inplace = True , axis = 1)

In [22]:
# excluindo colunas 
df001.drop(['location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16_17', 'location_f4_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18'], inplace = True , axis = 1)

In [23]:
df001

,date,location_name,value,frequency,indicator_id,location_id,indicator_name,indicator_unit
0,2014-12,United Kingdom,62.53,Monthly,KN.T19,GB,BrentDated,$/b
1,2015-06,United Kingdom,61.69,Monthly,KN.T19,GB,BrentDated,$/b
2,2016-03,United Kingdom,38.51,Monthly,KN.T19,GB,BrentDated,$/b
3,2016-12,United Kingdom,53.57,Monthly,KN.T19,GB,BrentDated,$/b
4,2017-06,United Kingdom,46.42,Monthly,KN.T19,GB,BrentDated,$/b
...,...,...,...,...,...,...,...,...
109167,1965-01,Argentina,0.00,Annual,KN.A274,AR,Natural Gas Exports,million standard cubic metres
109168,1973-01,Argentina,0.00,Annual,KN.A274,AR,Natural Gas Exports,million standard cubic metres
109169,1974-01,Argentina,0.00,Annual,KN.A274,AR,Natural Gas Exports,million standard cubic metres
109170,1976-01,Argentina,0.00,Annual,KN.A274,AR,Natural Gas Exports,million standard cubic metres
109171,1977-01,Argentina,0.00,Annual,KN.A274,AR,Natural Gas Exports,million standard cubic metres

In [24]:
#Função utilizada para filtrar e calcular a quantidade de resgistros em branco, e a proporção dessa perda antes do ETL.
def dados_perdidos(df001):
    perdas = df001.isna().sum()
    perdas = perdas[perdas >0 ]
    perdas_proporcionais = perdas/df001.shape[0]
    perdas_totais = perdas_proporcionais > 0.05

    return pd.DataFrame({"Perdas" : perdas, "Proporção de perdas" : perdas_proporcionais, "Perdas maiores que 5%" : perdas_totais})


dados_perdidos(df001)

Empty DataFrame
Columns: [Perdas, Proporção de perdas, Perdas maiores que 5%]
Index: []

### **Tratamento PySpark - Json**

In [68]:
spark.conf.set('spark.sql.execution.arrow.enable', 'true')
dfspark = spark.createDataFrame(df001)

In [69]:
# Criando coluna de Ano

dfspark = dfspark.withColumn("Ano", F.substring(F.col('date'), 1, 4))

In [70]:
# Criando Coluna Mes

dfspark = dfspark.withColumn("Mes", F.substring(F.col('date'), 6, 7))

In [71]:
# Dropando Coluna date

dfspark = dfspark.drop('date')

In [29]:
# Analisando valores unicos na coluna indicator_unit
dfspark.select('indicator_unit').distinct().show(200,truncate = False)

+------------------------------+
|indicator_unit                |
+------------------------------+
|Number                        |
|billion standard cubic metres |
|1,000 sq km                   |
|Million Standard Cubic Metres |
|million barrels               |
|1,000 barrels                 |
|Million Inhabitants           |
|dollars                       |
|1,000 Barrels per calendar day|
|% share                       |
|USD/toe NCV                   |
|million standard cubic metres |
|billion cubic metres          |
|Thousand Barrels/Calendar Day |
|$/t                           |
|%                             |
|million cubic metres          |
|ratio                         |
|$/b                           |
|1,000 barrels per day         |
|Million dollars               |
+------------------------------+

In [72]:
# Renomeando indicadores
dfspark = ( dfspark.withColumn('indicator_unit', F.regexp_replace(F.col('indicator_unit'), 'Thousand Barrels/Calendar Day', '1,000 barrels per day')))

In [73]:
dfspark = ( dfspark.withColumn('indicator_unit', F.regexp_replace(F.col('indicator_unit'), '1,000 Barrels per calendar day', '1,000 barrels per day')))

In [74]:
dfspark = ( dfspark.withColumn('indicator_unit', F.regexp_replace(F.col('indicator_unit'), 'Million Standard Cubic Metres', 'million standard cubic metres')))

In [75]:
dfspark = ( dfspark.withColumn('indicator_unit', F.regexp_replace(F.col('indicator_unit'), 'billion standard cubic metres', 'billion cubic metres')))

In [34]:
# analisando valores 
dfspark.select('indicator_unit').distinct().show(truncate = False)

+-----------------------------+
|indicator_unit               |
+-----------------------------+
|Number                       |
|1,000 sq km                  |
|million barrels              |
|1,000 barrels                |
|Million Inhabitants          |
|dollars                      |
|% share                      |
|USD/toe NCV                  |
|million standard cubic metres|
|billion cubic metres         |
|$/t                          |
|%                            |
|million cubic metres         |
|ratio                        |
|$/b                          |
|1,000 barrels per day        |
|Million dollars              |
+-----------------------------+

In [44]:
# analisando valores 
dfspark.select('indicator_name').distinct().show(200,truncate = False)

+------------------------------------------------------------------------------+
|indicator_name                                                                |
+------------------------------------------------------------------------------+
|Total                                                                         |
|Exchange Rates Adjusted                                                       |
|Russia                                                                        |
|Value of exports (million $)                                                  |
|Gasoline - Regular unleaded 87                                                |
|World natural gas demand                                                      |
|Refinery throughput (1,000 b/d)                                               |
|Kuwait Export                                                                 |
|Fuel oil - 3.5% sulphur                                                       |
|Electricity                                                                   |
|Number of Wells Completed                                                     |
|Latin America                                                                 |
|OPEC Members' values of petroleum exports (m $)                               |
|General purpose carrier (16.5-24.9)                                           |
|Natural Gas                                                                   |
|Fuel Oil 3.5% Sulphur                                                         |
|Tax to CIF crude oil price ratio in major OECD oil consuming countries (ratio)|
|Gasoline -Premium unleaded 97                                                 |
|OPEC Members GDP at Current Market Prices                                     |
|Gasoline                                                                      |
|Current account balances in OPEC Members (m $)                                |
|Other Eurasia                                                                 |
|Crude oil Imports                                                             |
|Population (million inhabitants)                                              |
|Natural Gas Exports                                                           |
|Dukhan                                                                        |
|Other (Petroleum Products)                                                    |
|OPEC Members' values of imports (m $)                                         |
|Automotive Diesel                                                             |
|Africa                                                                        |
|World Refining Capacity                                                       |
|Exports of Petroleum Products (1,000 b/d)                                     |
|Fuel oil- 380 centistokes                                                     |
|Natural gas reserves (billion cu m)                                           |
|OECD Asia Pacific                                                             |
|OPEC Members' values of exports (m $)                                         |
|Natural Gas Exports (million cu m)                                            |
|Gasoline - Premium unleaded 97                                                |
|Djeno                                                                         |
|India                                                                         |
|China                                                                         |
|Tax                                                                           |
|Gasoil 0.2% Sulphur                                                           |
|Value of petroleum exports (million $)                                        |
|Tapis                                                                         |
|Ekofisk                                                                       |
|6th forward month                                                             |
|World Proven Crude Oil Reserves                                               |
|World Refinery Throughput                                                     |
|World biofuels production (1,000 b/d)                                         |
|Natural Gas Imports                                                           |
|World Exports of crude oil and petroleum products                             |
|ORB                                                                           |
|Very large crude carrier (160.0-319.9)                                        |
|OPEC Members real growth rates PPP based weights (%)                          |
|OPEC Members Population                                                       |
|12th forward month                                                            |
|Fuel oil - 3.0% sulphur                                                       |
|Forties                                                                       |
|Refinery capacity (1,000 b/cd)                                                |
|Gasoil 0.5% Sulphur                                                           |
|Nominal Oil Price                                                             |
|Forcados                                                                      |
|Residuals                                                                     |
|Clean tanker spot freight rates ($/t)                                         |
|Iran Light                                                                    |
|Miri                                                                          |
|Large range 2 carrier (80.0-159.9)                                            |
|GDP per Capita (dollars)                                                      |
|Non-OPEC supply and OPEC natural gas liquids                                  |
|Gasoline -Regular unleaded 87                                                 |
|Oman                                                                          |
|Premium Unleaded 95 RON                                                       |
|Other Asia                                                                    |
|Oil Demand (1,000 b/d)                                                        |
|Cabinda                                                                       |
|Fuel Oil 3.0% Sulphur                                                         |
|Natural gas marketed production (million cu. m.)                              |
|Imports of petroleum products (1,000 b/d)                                     |
|Zarzaitine                                                                    |
|Murban                                                                        |
|1st forward month                                                             |
|Others                                                                        |
|Medium range carrier (25.0-44.9)                                              |
|Middle East                                                                   |
|Fuel oil - 380 centistokes                                                    |
|Saharan Blend                                                                 |
|Gasoil - 10ppm sulphur                                                        |
|Dirty tanker spot freight rates (%)                                           |
|Zafiro                                                                        |
|Arab  Medium                                                                  |
|OECD Europe                                                                   |
|World Proven Natural Gas Reserves                                             |
|Crude oil production allocations (1,000 b/d)                                  |
|Arab Light                                                                    |
|Proven crude oil reserves (million Barrels)                                   |
|Daily and Cumulative Crude Oil Production                                     |
|GDP at Market prices (million $)                                              |
|Other Europe                                                                  |
|Gasoil - 0.2% sulphur                                                         |
|Brega                                                                         |
|Imports of crude oil and petroleum products                                   |
|Combined Exchange Rates and Inflation Adjusted                                |
|Industry Margin                                                               |
|Dirty tanker spot freight rates ($/t)                                         |
|Arab  Heavy                                                                   |
|Number of Active Rigs                                                         |
|Inflation Adjusted                                                            |
|OECD Americas                                                                 |
|Suez Mix                                                                      |
|Value of imports (million $)                                                  |
|Basrah Light                                                                  |
|Crude oil Production (1,000 b/d)                                              |
|Marketed Production of Natural Gas                                            |
|WTI                                                                           |
|World output of petroleum products                                            |
|Girassol                                                                      |
|Crude CIF Price                                                               |
|Dubai                                                                         |
|Clean tanker spot freight rates(%)                                            |
|BrentDated                                                                    |
|Composite Barrel                                                              |
|Kerosene                                                                      |
|Output of refined petroleum products (1,000 b/d)                              |
|Crude oil exports (1,000 b/d)                                                 |
|Gasoline - Premium unleaded 98                                                |
|Isthmus                                                                       |
|Minas                                                                         |
|Bonny Light                                                                   |
|Current account balance (million $)                                           |
|World crude oil exports                                                       |
|GDP growth, real PPP %                                                        |
|World exports of petroleum products                                           |
|Oseberg                                                                       |
|Liquified Petroleum Gas                                                       |
|Large range 1 carrier (45.0-79.9)                                             |
|World crude oil production                                                    |
|Distillates                                                                   |
|Land Area (1,000 sq km)                                                       |
|Ess Sider                                                                     |
|Petroleum Products Import                                                     |
|Refinery Capacity in OPEC Members                                             |
|Natural Gas Production in OPEC Members                                        |
|Arab Heavy                                                                    |
|Rabi Light                                                                    |
|Gasoil - 0.05% sulphur                                                        |
|Word oil demand                                                               |
|Merey                                                                         |
|Gasoil 10ppm Sulphur                                                          |
|Iran Heavy                                                                    |
|Urals                                                                         |
|Arab  Light                                                                   |
|Maya                                                                          |
|Total World                                                                   |
+------------------------------------------------------------------------------+

In [76]:
# convertendo para inteiro 
dfspark = dfspark.withColumn("Ano", dfspark["Ano"].cast('int'))
dfspark = dfspark.withColumn("Mes", dfspark["Mes"].cast('int'))

In [37]:
dfspark.printSchema()

root
 |-- location_name: string (nullable = true)
 |-- value: double (nullable = true)
 |-- frequency: string (nullable = true)
 |-- indicator_id: string (nullable = true)
 |-- location_id: string (nullable = true)
 |-- indicator_name: string (nullable = true)
 |-- indicator_unit: string (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Mes: integer (nullable = true)

In [77]:
dfspark.show()

+--------------+-----+---------+------------+-----------+--------------------+--------------------+----+---+
| location_name|value|frequency|indicator_id|location_id|      indicator_name|      indicator_unit| Ano|Mes|
+--------------+-----+---------+------------+-----------+--------------------+--------------------+----+---+
|United Kingdom|62.53|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2014| 12|
|United Kingdom|61.69|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2015|  6|
|United Kingdom|38.51|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2016|  3|
|United Kingdom|53.57|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2016| 12|
|United Kingdom|46.42|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2017|  6|
|United Kingdom|44.79|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2020|  8|
|United Kingdom|40.58|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2020|  9|
|United Kingdom|49.74|  Monthly|      KN.T19|         GB|          BrentDated|                 $/b|2020| 12|
|       Ecuador| 2.12|   Annual|     KN.A264|         EC|World Proven Natu...|billion cubic metres|1966|  1|
|       Ecuador| 99.0|   Annual|     KN.A264|         EC|World Proven Natu...|billion cubic metres|1972|  1|
|       Ecuador|101.7|   Annual|     KN.A264|         EC|World Proven Natu...|billion cubic metres|1980|  1|
|       Ecuador|10.89|   Annual|     KN.A264|         EC|World Proven Natu...|billion cubic metres|2017|  1|
|       Ecuador|10.89|   Annual|     KN.A264|         EC|World Proven Natu...|billion cubic metres|2020|  1|
|       Ecuador| 50.0|   Annual|     KN.A272|         EC|Marketed Producti...|million standard ...|1979|  1|
|       Ecuador| 60.0|   Annual|     KN.A272|         EC|Marketed Producti...|million standard ...|1983|  1|
|       Ecuador|100.0|   Annual|     KN.A272|         EC|Marketed Producti...|million standard ...|1993|  1|
|       Ecuador|100.0|   Annual|     KN.A272|         EC|Marketed Producti...|million standard ...|1999|  1|
|       Ecuador|300.0|   Annual|     KN.A272|         EC|Marketed Producti...|million standard ...|2020|  1|
|        Guyana|  0.0|   Annual|      KN.A41|         GY|World crude oil p...|1,000 barrels per...|1963|  1|
|        Guyana|  0.0|   Annual|      KN.A41|         GY|World crude oil p...|1,000 barrels per...|1978|  1|
+--------------+-----+---------+------------+-----------+--------------------+--------------------+----+---+
only showing top 20 rows

In [78]:

dfspark.select('*').distinct().filter(dfspark.value < 0  ).show(truncate = False)

+-----------------+-------------------+---------+------------+-----------+----------------------------------------------------+---------------+----+---+
|location_name    |value              |frequency|indicator_id|location_id|indicator_name                                      |indicator_unit |Ano |Mes|
+-----------------+-------------------+---------+------------+-----------+----------------------------------------------------+---------------+----+---+
|OPEC             |-2416.277          |Annual   |KN.A29      |KN.L1      |Current account balances in OPEC Members (m $)      |Million dollars|1978|1  |
|Angola           |-494.0             |Annual   |KN.A29      |AO         |Current account balances in OPEC Members (m $)      |Million dollars|1982|1  |
|Congo            |-625.2             |Annual   |KN.A29      |CG         |Current account balances in OPEC Members (m $)      |Million dollars|1995|1  |
|Gabon            |-0.7000000000000001|Annual   |KK.K2       |GA         |OPEC Members real growth rates PPP based weights (%)|%              |1979|1  |
|Gabon            |-449.097           |Annual   |KN.A29      |GA         |Current account balances in OPEC Members (m $)      |Million dollars|1987|1  |
|Iraq             |-14527.8           |Annual   |KN.A29      |IQ         |Current account balances in OPEC Members (m $)      |Million dollars|1999|1  |
|Kuwait           |-0.958333333333333 |Annual   |KN.AS4      |KW         |Kuwait Export                                       |$/b            |2014|1  |
|US Gulf          |-9.76              |Annual   |KN.A504     |USUG       |Fuel oil - 3.0% sulphur                             |$/b            |2010|1  |
|Algeria          |-0.108333333333333 |Annual   |KN.EU2      |DZ         |Saharan Blend                                       |$/b            |2012|1  |
|Gabon            |-192.189           |Annual   |KN.A29      |GA         |Current account balances in OPEC Members (m $)      |Million dollars|1989|1  |
|Saudi Arabia     |-17269.0           |Annual   |KN.A29      |SA         |Current account balances in OPEC Members (m $)      |Million dollars|1993|1  |
|Equatorial Guinea|-517.9             |Annual   |KN.A29      |GQ         |Current account balances in OPEC Members (m $)      |Million dollars|2017|1  |
|Libya            |-9233.0            |Annual   |KN.A29      |LY         |Current account balances in OPEC Members (m $)      |Million dollars|2015|1  |
|Iraq             |-12.65049          |Annual   |KK.K2       |IQ         |OPEC Members real growth rates PPP based weights (%)|%              |1982|1  |
|Saudi Arabia     |-0.7420000000000041|Annual   |KK.K2       |SA         |OPEC Members real growth rates PPP based weights (%)|%              |2017|1  |
|US Gulf          |-4.51              |Annual   |KN.A504     |USUG       |Fuel oil - 3.0% sulphur                             |$/b            |2019|1  |
|Kuwait           |-2.30675675675675  |Annual   |KN.AS4      |KW         |Kuwait Export                                       |$/b            |2016|1  |
|Kuwait           |-1.10416666666667  |Annual   |KN.AS4      |KW         |Kuwait Export                                       |$/b            |2020|1  |
|Singapore        |-4.16              |Annual   |KN.A508     |SG         |Fuel oil - 380 centistokes                          |$/b            |2009|1  |
|Saudi Arabia     |-16.051            |Annual   |KK.K2       |SA         |OPEC Members real growth rates PPP based weights (%)|%              |1983|1  |
+-----------------+-------------------+---------+------------+-----------+----------------------------------------------------+---------------+----+---+
only showing top 20 rows

In [40]:
## ENCONTRAR QUANTIDADE DE VAZIO, NENHUM, NULO,
dfspark.select([F.count(F.when(F.col(c).contains('None') | \
                            F.col(c).contains('NULL') | \
                            (F.col(c) == '' ) | \
                            (F.col(c) == 0 ) | \
                            F.col(c).isNull() | \
                            F.isnan(c), c 
                           )).alias(c)
                    for c in dfspark.columns]).show()

+-------------+-----+---------+------------+-----------+--------------+--------------+---+---+
|location_name|value|frequency|indicator_id|location_id|indicator_name|indicator_unit|Ano|Mes|
+-------------+-----+---------+------------+-----------+--------------+--------------+---+---+
|            0| 6107|        0|           0|          0|             0|             0|  0|  0|
+-------------+-----+---------+------------+-----------+--------------+--------------+---+---+

### **filtrando informaçoes relevantes a petroleo**

In [47]:
filtro_world_oil = dfspark.select('*')\
.filter(col('indicator_name') == "Word oil demand" ).toPandas()

In [81]:
filtro_world_oil_br = dfspark.select('*')\
.filter(col('indicator_name') == "Word oil demand" )\
.filter(col("location_name") == "Brazil").toPandas()

In [ ]:
filtro1 = dfspark.select('*')\
.filter(col('indicator_name') == "OPEC Members' values of petroleum exports (m $)" ).toPandas()

In [ ]:
# analisanda os filtros
filtro1

,location_name,value,frequency,indicator_id,location_id,indicator_name,indicator_unit,Ano,Mes
0,Iraq,445.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,1960,1
1,Iraq,1027.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,1972,1
2,Iraq,1842.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,1973,1
3,Iraq,9201.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,1976,1
4,Iraq,21382.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,1979,1
...,...,...,...,...,...,...,...,...,...
792,Iraq,7526.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,2003,1
793,Iraq,61111.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,2008,1
794,Iraq,51589.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,2010,1
795,Iraq,84303.3,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,2014,1
796,Iraq,59730.0,Annual,KN.A27,IQ,OPEC Members' values of petroleum exports (m $),Million dollars,2017,1

In [ ]:
filtro2 = dfspark.select('*')\
.filter(col('indicator_name') == "Petroleum Products Import" )

In [ ]:
filtro2_br = filtro2.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
filtro3 = dfspark.select('*')\
.filter(col('indicator_name') == "World crude oil production" )

In [ ]:
filtro3_br = filtro3.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
filtro4 = dfspark.select('*')\
.filter(col('indicator_name') == 'World exports of petroleum products' )

In [ ]:
filtro4_br = filtro4.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
filtro5 = dfspark.select('*')\
.filter(col('indicator_name') == 'Imports of crude oil and petroleum products')

In [ ]:
filtro5_br = filtro5.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
# Produção diaria de petroleo bruto paises aparentemente da opep
filtro6 = dfspark.select('*')\
.filter(col('indicator_name') == 'Daily and Cumulative Crude Oil Production').toPandas()

In [ ]:
# ver se é interessante
filtro7 = dfspark.select('*')\
.filter(col('indicator_name') == 'Crude oil production allocations (1,000 b/d)').toPandas()

In [ ]:
# preço do petroleo OPEP
filtro8 = dfspark.select('*')\
.filter(col('indicator_name') == 'Nominal Oil Price').toPandas()

In [ ]:
# População de membros da OPEP
filtro9 = dfspark.select('*')\
.filter(col('indicator_name') == 'OPEC Members Population').toPandas()

In [ ]:
filtro10= dfspark.select('*')\
.filter(col('indicator_name') == 'World Exports of crude oil and petroleum products')

In [ ]:
filtro10_br = filtro10.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
filtro11 = dfspark.select('*')\
.filter(col('indicator_name') == 'World Proven Crude Oil Reserves')

In [ ]:
filtro11_br = filtro11.select('*').filter(col("location_name") == "Brazil").toPandas()

In [ ]:
# Valores das importações dos membros da OPEP (m $)
filtro12 = dfspark.select('*')\
.filter(col('indicator_name') == "OPEC Members' values of imports (m $)").toPandas()

In [ ]:
filtro13 = dfspark.select('*')\
.filter(col('indicator_name') == 'Crude oil Imports')

In [ ]:
filtro13_br = filtro13.select('*').filter(col("location_name") == "Brazil").toPandas()

### **Filtro Brasil**

In [ ]:
# Filtrando por Brasil 

dfsparkbr = dfspark.select(dfspark['*']).filter (dfspark.location_name == 'Brazil')

In [ ]:
# Filtrando valores Anuais

dfsparkbr = dfsparkbr.select(dfsparkbr['*'] ).filter (dfsparkbr.frequency == 'Annual')

In [ ]:
# Filtrando por ano > que 2010

dfsparkbr = dfsparkbr.select(dfsparkbr['*'] ).filter (dfsparkbr.Ano > 2010)

In [ ]:
dfsparkbr.count()

190

In [ ]:
dfsparkbr.show(800, truncate = False)

+-------------+----------------+---------+------------+-----------+-------------------------------------------------+-----------------------------+----+---+
|location_name|value           |frequency|indicator_id|location_id|indicator_name                                   |indicator_unit               |Ano |Mes|
+-------------+----------------+---------+------------+-----------+-------------------------------------------------+-----------------------------+----+---+
|Brazil       |13435.0         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2019|1  |
|Brazil       |418.749         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2012|1  |
|Brazil       |488.255         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2013|1  |
|Brazil       |552.827         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2015|1  |
|Brazil       |519.0           |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2017|1  |
|Brazil       |665.69          |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2019|1  |
|Brazil       |1260.5          |Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2017|1  |
|Brazil       |363.5           |Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2013|1  |
|Brazil       |251.666666666667|Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2015|1  |
|Brazil       |134.333333333333|Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2020|1  |
|Brazil       |18980.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2015|1  |
|Brazil       |54.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2013|1  |
|Brazil       |42.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2014|1  |
|Brazil       |2061.322        |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2012|1  |
|Brazil       |2509.954        |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2016|1  |
|Brazil       |2567.926        |Annual   |KN.A43      |BR         |Non-OPEC supply and OPEC natural gas liquids     |1,000 barrels per day        |2012|1  |
|Brazil       |2289.0          |Annual   |KN.A85      |BR         |World Refining Capacity                          |1,000 barrels per day        |2018|1  |
|Brazil       |2289.0          |Annual   |KN.A85      |BR         |World Refining Capacity                          |1,000 barrels per day        |2019|1  |
|Brazil       |2095.0          |Annual   |KN.A85A     |BR         |World Refinery Throughput                        |1,000 barrels per day        |2014|1  |
|Brazil       |2062.75         |Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2015|1  |
|Brazil       |1764.41666666667|Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2018|1  |
|Brazil       |3097.54250813356|Annual   |KN.NEW3     |BR         |Word oil demand                                  |1,000 barrels per day        |2013|1  |
|Brazil       |365.583333333333|Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2013|1  |
|Brazil       |163.011904761905|Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2012|1  |
|Brazil       |124.416666666667|Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2016|1  |
|Brazil       |544.416666666667|Annual   |KN.A123     |BR         |Petroleum Products Import                        |1,000 barrels per day        |2013|1  |
|Brazil       |697.75          |Annual   |KN.A123     |BR         |Petroleum Products Import                        |1,000 barrels per day        |2017|1  |
|Brazil       |640.166666666667|Annual   |KN.A123     |BR         |Petroleum Products Import                        |1,000 barrels per day        |2018|1  |
|Brazil       |807.75          |Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2015|1  |
|Brazil       |825.75          |Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2018|1  |
|Brazil       |459.0           |Annual   |KN.A264     |BR         |World Proven Natural Gas Reserves                |billion cubic metres         |2012|1  |
|Brazil       |471.0           |Annual   |KN.A264     |BR         |World Proven Natural Gas Reserves                |billion cubic metres         |2014|1  |
|Brazil       |16980.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2012|1  |
|Brazil       |21700.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2018|1  |
|Brazil       |27000.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2020|1  |
|Brazil       |13.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2016|1  |
|Brazil       |14.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2017|1  |
|Brazil       |9.0             |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2020|1  |
|Brazil       |2601.055        |Annual   |KN.A43      |BR         |Non-OPEC supply and OPEC natural gas liquids     |1,000 barrels per day        |2011|1  |
|Brazil       |2602.518        |Annual   |KN.A43      |BR         |Non-OPEC supply and OPEC natural gas liquids     |1,000 barrels per day        |2013|1  |
|Brazil       |3556.596        |Annual   |KN.A43      |BR         |Non-OPEC supply and OPEC natural gas liquids     |1,000 barrels per day        |2019|1  |
|Brazil       |2013.795        |Annual   |KN.A85      |BR         |World Refining Capacity                          |1,000 barrels per day        |2011|1  |
|Brazil       |1677.41666666667|Annual   |KN.A85A     |BR         |World Refinery Throughput                        |1,000 barrels per day        |2017|1  |
|Brazil       |1677.5          |Annual   |KN.A85A     |BR         |World Refinery Throughput                        |1,000 barrels per day        |2019|1  |
|Brazil       |1965.70355292614|Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2011|1  |
|Brazil       |1786.83333333333|Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2017|1  |
|Brazil       |2955.12948900014|Annual   |KN.NEW3     |BR         |Word oil demand                                  |1,000 barrels per day        |2012|1  |
|Brazil       |599.0           |Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2011|1  |
|Brazil       |736.0           |Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2015|1  |
|Brazil       |891.25          |Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2016|1  |
|Brazil       |1127.41666666667|Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2017|1  |
|Brazil       |1301.25         |Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2019|1  |
|Brazil       |140.413636363636|Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2011|1  |
|Brazil       |150.60303030303 |Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2013|1  |
|Brazil       |152.833333333333|Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2014|1  |
|Brazil       |133.083333333333|Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2017|1  |
|Brazil       |1000.73333333333|Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2011|1  |
|Brazil       |907.916666666667|Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2013|1  |
|Brazil       |914.25          |Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2019|1  |
|Brazil       |368.0           |Annual   |KN.A264     |BR         |World Proven Natural Gas Reserves                |billion cubic metres         |2018|1  |
|Brazil       |23750.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2017|1  |
|Brazil       |20600.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2020|1  |
|Brazil       |12841.0         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2011|1  |
|Brazil       |12634.0         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2017|1  |
|Brazil       |633.522         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2020|1  |
|Brazil       |516.186363636364|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2013|1  |
|Brazil       |860.5           |Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2015|1  |
|Brazil       |1015.66666666667|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2016|1  |
|Brazil       |1518.41666666667|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2019|1  |
|Brazil       |311.5           |Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2012|1  |
|Brazil       |149.833333333333|Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2017|1  |
|Brazil       |16770.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2013|1  |
|Brazil       |10720.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2017|1  |
|Brazil       |10220.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2019|1  |
|Brazil       |10.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2018|1  |
|Brazil       |3079.701        |Annual   |KN.A43      |BR         |Non-OPEC supply and OPEC natural gas liquids     |1,000 barrels per day        |2015|1  |
|Brazil       |2004.235        |Annual   |KN.A85      |BR         |World Refining Capacity                          |1,000 barrels per day        |2012|1  |
|Brazil       |2238.378        |Annual   |KN.A85      |BR         |World Refining Capacity                          |1,000 barrels per day        |2014|1  |
|Brazil       |1982.01083333333|Annual   |KN.A85A     |BR         |World Refinery Throughput                        |1,000 barrels per day        |2013|1  |
|Brazil       |1800.0          |Annual   |KN.A85A     |BR         |World Refinery Throughput                        |1,000 barrels per day        |2016|1  |
|Brazil       |2210.66666666667|Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2014|1  |
|Brazil       |1679.22106308992|Annual   |KN.NEW1     |BR         |World output of petroleum products               |1,000 barrels per day        |2020|1  |
|Brazil       |3178.09045333904|Annual   |KN.NEW3     |BR         |Word oil demand                                  |1,000 barrels per day        |2014|1  |
|Brazil       |3111.29879163565|Annual   |KN.NEW3     |BR         |Word oil demand                                  |1,000 barrels per day        |2015|1  |
|Brazil       |3071.73616517025|Annual   |KN.NEW3     |BR         |Word oil demand                                  |1,000 barrels per day        |2016|1  |
|Brazil       |487.666666666667|Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2012|1  |
|Brazil       |1147.0          |Annual   |KN.A102     |BR         |World crude oil exports                          |1,000 barrels per day        |2018|1  |
|Brazil       |170.5           |Annual   |KN.A111     |BR         |World exports of petroleum products              |1,000 barrels per day        |2018|1  |
|Brazil       |879.333333333333|Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2012|1  |
|Brazil       |943.833333333333|Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2014|1  |
|Brazil       |740.416666666667|Annual   |KN.A125     |BR         |Imports of crude oil and petroleum products      |1,000 barrels per day        |2020|1  |
|Brazil       |19030.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2013|1  |
|Brazil       |20620.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2016|1  |
|Brazil       |22180.0         |Annual   |KN.A272     |BR         |Marketed Production of Natural Gas               |million standard cubic metres|2019|1  |
|Brazil       |25060.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2011|1  |
|Brazil       |30250.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2012|1  |
|Brazil       |33910.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2016|1  |
|Brazil       |32440.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2018|1  |
|Brazil       |32400.0         |Annual   |KN.A278A    |BR         |World natural gas demand                         |million standard cubic metres|2019|1  |
|Brazil       |15544.0         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2014|1  |
|Brazil       |16184.1         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2015|1  |
|Brazil       |12999.8         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2016|1  |
|Brazil       |512.951         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2014|1  |
|Brazil       |515.235         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2016|1  |
|Brazil       |739.413636363636|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2011|1  |
|Brazil       |670.083333333333|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2014|1  |
|Brazil       |1317.5          |Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2018|1  |
|Brazil       |134.25          |Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2016|1  |
|Brazil       |185.583333333333|Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2018|1  |
|Brazil       |188.916666666667|Annual   |KN.A122     |BR         |Crude oil Imports                                |1,000 barrels per day        |2019|1  |
|Brazil       |15049.9         |Annual   |KN.A32      |BR         |World Proven Crude Oil Reserves                  |million barrels              |2013|1  |
|Brazil       |408.118         |Annual   |KN.A43.1    |BR         |World biofuels production (1,000 b/d)            |1,000 barrels per day        |2011|1  |
|Brazil       |650.678571428571|Annual   |KN.A120     |BR         |World Exports of crude oil and petroleum products|1,000 barrels per day        |2012|1  |
|Brazil       |10480.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2011|1  |
|Brazil       |13380.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2016|1  |
|Brazil       |10810.0         |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2018|1  |
|Brazil       |6300.0          |Annual   |KN.A276     |BR         |Natural Gas Imports                              |million standard cubic metres|2020|1  |
|Brazil       |71.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2012|1  |
|Brazil       |38.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2015|1  |
|Brazil       |14.0            |Annual   |KN.A34      |BR         |Number of Active Rigs                            |Number                       |2019|1  |
|Brazil       |2105.37         |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2011|1  |
|Brazil       |2023.86         |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2013|1  |
|Brazil       |2254.586        |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2014|1  |
|Brazil       |2437.296        |Annual   |KN.A41      |BR         |World crude oil production                       |1,000 barrels per day        |2015|1  |

In [ ]:
# Analisando valores unicos na coluna Indicator_name
indicator = dfsparkbr.select('indicator_name').distinct()

In [ ]:
# ordenando valores
indicator.sort('indicator_name').show(200, truncate = False)

+-------------------------------------------------+
|indicator_name                                   |
+-------------------------------------------------+
|Crude oil Imports                                |
|Imports of crude oil and petroleum products      |
|Marketed Production of Natural Gas               |
|Natural Gas Imports                              |
|Non-OPEC supply and OPEC natural gas liquids     |
|Number of Active Rigs                            |
|Petroleum Products Import                        |
|Word oil demand                                  |
|World Exports of crude oil and petroleum products|
|World Proven Crude Oil Reserves                  |
|World Proven Natural Gas Reserves                |
|World Refinery Throughput                        |
|World Refining Capacity                          |
|World biofuels production (1,000 b/d)            |
|World crude oil exports                          |
|World crude oil production                       |
|World exports of petroleum products              |
|World natural gas demand                         |
|World output of petroleum products               |
+-------------------------------------------------+

In [ ]:
# contando
indicator.count()

19

In [ ]:
# Analisando valores unicos na coluna indicator_unit
dfsparkbr.select('indicator_unit').distinct().show(truncate = False)

+-----------------------------+
|indicator_unit               |
+-----------------------------+
|Number                       |
|million barrels              |
|million standard cubic metres|
|billion cubic metres         |
|1,000 barrels per day        |
+-----------------------------+

In [ ]:
# Analisando valores unicos na coluna frequency
dfsparkbr.select('frequency').distinct().show(truncate = False)

+---------+
|frequency|
+---------+
|Annual   |
+---------+

In [ ]:
# Analisando valores unicos na coluna location_id
dfsparkbr.select('location_id').distinct().show(250,truncate = False)

+-----------+
|location_id|
+-----------+
|BR         |
+-----------+

In [ ]:
# contando valores unicos na coluna location_id
dfsparkbr.select('location_id').distinct().count()

1

In [ ]:
# Analisando valores unicos na coluna location_name
dfsparkbr.select('location_name').distinct().show(250,truncate = False)

+-------------+
|location_name|
+-------------+
|Brazil       |
+-------------+

In [ ]:
dfsparkbr.printSchema()

root
 |-- location_name: string (nullable = true)
 |-- value: double (nullable = true)
 |-- frequency: string (nullable = true)
 |-- indicator_id: string (nullable = true)
 |-- location_id: string (nullable = true)
 |-- indicator_name: string (nullable = true)
 |-- indicator_unit: string (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Mes: integer (nullable = true)

### **Inserindo dataset original Postgres SQL**

In [ ]:
dfpostgres = dfspark.toPandas()

In [ ]:
# inserindo dados originais no postgres
engine_ptg = create_engine.create_engine('postgresql+psycopg2://postgres:postgresgcp@35.239.158.143:5432/projeto_final')

dfpostgres.to_sql('dados_b_opec-annual-completo', engine_ptg , method='multi')

### **Tradução dfspark (filtrado_Brasil)**

In [ ]:
dfpandas = dfsparkbr.toPandas()

In [49]:
#Atribuindo o translator em uma variável
tradutor = Translator()

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  dfpandas.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in dfpandas.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = dfpandas[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
dfpandas.replace(traducoes, inplace = True)

#### Novas Analises Pandas

In [ ]:
pd.unique(dfpandas['nome_indicador'])

In [ ]:
dfpandas['unidade_indicador'].value_counts()

In [ ]:
del dfpandas['id_indicador']

In [ ]:
display(dfpandas)

#### Filtros PySpark

In [ ]:
dfspk = spark.createDataFrame(dfpandas)

In [ ]:
dfspk.printSchema()

In [ ]:
#convertendo para inteiro
dfspk = dfspark.withColumn("Ano", dfspark["Ano"].cast('int'))
dfspk = dfspark.withColumn("Mes", dfspark["Mes"].cast('int'))

In [ ]:
# Filtrando por nome_indicador

df_Importacoes_de_petroleo_bruto = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Importações de petróleo bruto')

In [ ]:
# Filtrando por nome_indicador

df_Importacao_de_petroleo_bruto_e_derivados = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Importação de petróleo bruto e derivados')

In [ ]:
# Filtrando por nome_indicador

df_Numero_de_plataformas_ativas = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Número de plataformas ativas')

In [ ]:
# Filtrando por nome_indicador
df_Importacao_de_Produtos_Petroliferos = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Importação de Produtos Petrolíferos')

In [ ]:
# Filtrando por nome_indicador

df_Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Exportações mundiais de petróleo bruto e produtos petrolíferos')

In [ ]:
# Filtrando por nome_indicador

df_Capacidade_Mundial_de_Refinacao = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Capacidade Mundial de Refinação')

In [ ]:
# Filtrando por nome_indicador

df_Exportacoes_mundiais_de_petroleo_bruto = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Exportações mundiais de petróleo bruto')

In [ ]:
# Filtrando por nome_indicador

df_Producao_mundial_de_petroleo_bruto = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Produção mundial de petróleo bruto')

In [ ]:
# Filtrando por nome_indicador

df_Exportacoes_mundiais_de_produtos_petroliferos = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Exportações mundiais de produtos petrolíferos')

In [ ]:
# Filtrando por nome_indicador

df_Demanda_de_petroleo_da_palavra = dfspk.select(dfspk['*'] ).filter (dfspk.nome_indicador == 'Demanda de petróleo da palavra')

In [ ]:
# Analisando valores unicos na coluna indicador
dfspk.select('nome_indicador').distinct().show(truncate = False)

### **Traduzindo os Filtros realizados com spark**

In [ ]:
filtro2 = filtro2.toPandas()
filtro3 = filtro3.toPandas()
filtro4 = filtro4.toPandas()
filtro5 = filtro5.toPandas()
filtro10 = filtro10.toPandas()
filtro11 = filtro11.toPandas()
filtro13 = filtro13.toPandas()

#### filtro1

In [ ]:
filtro1

In [ ]:
del filtro1['indicator_id']
del filtro1['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro1.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

name 'tradutor' is not defined

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro1.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro1[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro1.replace(traducoes, inplace = True)

In [ ]:
filtro1

,location_name,value,frequency,indicator_name,indicator_unit,Ano,Mes
0,Iraque,445.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,1960,1
1,Iraque,1027.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,1972,1
2,Iraque,1842.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,1973,1
3,Iraque,9201.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,1976,1
4,Iraque,21382.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,1979,1
...,...,...,...,...,...,...,...
792,Iraque,7526.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,2003,1
793,Iraque,61111.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,2008,1
794,Iraque,51589.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,2010,1
795,Iraque,84303.3,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,2014,1
796,Iraque,59730.0,Anual,Valores das exportações de petróleo dos membro...,Milhão de dolares,2017,1

#### filtro2

In [ ]:
del filtro2['indicator_id']
del filtro2['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro2.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro2.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro2[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro2.replace(traducoes, inplace = True)

In [ ]:
filtro2

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,"Outros, OCDE Europa",1269.81005464481,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2000,1
1,"Outros, OCDE Europa",1422.37512328767,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2002,1
2,"Outros, OCDE Europa",1485.90284931507,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2003,1
3,"Outros, OCDE Europa",1692.16123287671,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2015,1
4,OCDE Ásia e Pacífico,1122.80644090411,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,1985,1
...,...,...,...,...,...,...,...
2633,Equador,46.9607397,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2003,1
2634,Equador,104.024781,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2011,1
2635,Equador,117.850959,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2012,1
2636,Equador,151.674242424242,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2015,1
2637,Equador,164.513462666914,Anual,Importação de Produtos Petrolíferos,1.000 barris por dia,2020,1

##### Filtro2 Brasil

In [ ]:
del filtro2_br['indicator_id']
del filtro2_br['location_id']#Traduzindo as minhas colunas para o formato PT 
try:
  filtro2_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro2_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro2_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

filtro2_br.replace(traducoes, inplace = True)

#### filtro3

In [ ]:
del filtro3['indicator_id']
del filtro3['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro3.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro3.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro3[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro3.replace(traducoes, inplace = True)

In [ ]:
filtro3

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Guiana,0.0,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,1963,1
1,Guiana,0.0,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,1978,1
2,Guiana,0.0,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,1984,1
3,Guiana,0.0,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,1993,1
4,Guiana,0.0,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,1994,1
...,...,...,...,...,...,...,...
4021,Argentina,781.853,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,2001,1
4022,Argentina,740.013,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,2003,1
4023,Argentina,664.569,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,2005,1
4024,Argentina,603.611,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,2009,1
4025,Argentina,508.63,Anual,Produção mundial de petróleo bruto,1.000 barris por dia,2019,1

##### Filtro3 Brasil

In [ ]:
del filtro3_br['indicator_id']
del filtro3_br['location_id']#Traduzindo as minhas colunas para o formato PT 
try:
  filtro3_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro3_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro3_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro3_br.replace(traducoes, inplace = True)

#### filtro4

In [ ]:
del filtro4['indicator_id']
del filtro4['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro4.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro4.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro4[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro4.replace(traducoes, inplace = True)

In [ ]:
filtro4

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Trinidad e Tobago,65.69286,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,1989,1
1,Trinidad e Tobago,95.02566,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,1991,1
2,Trinidad e Tobago,83.88493,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,1995,1
3,Trinidad e Tobago,142.26679,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,2003,1
4,Trinidad e Tobago,124.8171,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,2005,1
...,...,...,...,...,...,...,...
2597,Kuwait,771.39,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,2009,1
2598,Kuwait,772.8,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,2010,1
2599,Kuwait,805.34,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,2013,1
2600,"Outros, Outra Ásia",10.3847305764795,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,1987,1
2601,"Outros, Outra Ásia",46.4616030765616,Anual,Exportações mundiais de produtos petrolíferos,1.000 barris por dia,1990,1

##### Filtro4 Brasil

In [ ]:
del filtro4_br['indicator_id']
del filtro4_br['location_id']
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro4_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro4_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro4_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro4_br.replace(traducoes, inplace = True)

#### filtro5

In [ ]:
del filtro5['indicator_id']
del filtro5['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro5.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro5.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro5[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro5.replace(traducoes, inplace = True)

In [ ]:
filtro5

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,"Outros, OCDE Europa",2463.21742465754,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,1981,1
1,"Outros, OCDE Europa",2325.72188808219,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,1985,1
2,"Outros, OCDE Europa",2880.74190109589,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2002,1
3,"Outros, OCDE Europa",3026.32472349802,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2004,1
4,Venezuela,0.0,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,1980,1
...,...,...,...,...,...,...,...
2804,"Outros, Outra Ásia",1643.98555945161,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,1998,1
2805,"Outros, Outra Ásia",1768.48275625661,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2001,1
2806,"Outros, Outra Ásia",1792.58877776852,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2002,1
2807,"Outros, Outra Ásia",2242.49861700699,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2010,1
2808,"Outros, Outra Ásia",2664.19444444444,Anual,Importação de petróleo bruto e derivados,1.000 barris por dia,2019,1

##### Filtro5 Brasil

In [ ]:
del filtro5_br['indicator_id']
del filtro5_br['location_id']
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro5_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro5_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro5_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro5_br.replace(traducoes, inplace = True)

#### filtro6

In [ ]:
del filtro6['indicator_id']
del filtro6['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro6.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro6.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro6[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro6.replace(traducoes, inplace = True)

In [ ]:
filtro6

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Iraque,972.2,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,1960,1
1,Iraque,1007.1,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,1961,1
2,Iraque,1161.9,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,1963,1
3,Iraque,1221.32,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,1984,1
4,Iraque,2112.622,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,1990,1
...,...,...,...,...,...,...,...
849,Kuwait,2664.5,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,2006,1
850,Kuwait,2676.01,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,2008,1
851,Kuwait,2312.12,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,2010,1
852,Kuwait,2924.65,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,2013,1
853,Kuwait,2858.685,Anual,Produção diária e cumulativa de petróleo bruto,1.000 barris,2015,1

#### filtro7

In [ ]:
del filtro7['indicator_id']
del filtro7['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro7.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro7.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro7[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro7.replace(traducoes, inplace = True)

In [ ]:
filtro7

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Arábia Saudita,7150.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,1983,1
1,Arábia Saudita,4343.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,1987,1
2,Arábia Saudita,8000.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,1997,1
3,Emirados Árabes Unidos,134.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2008,1
4,Emirados Árabes Unidos,2874.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2018,1
...,...,...,...,...,...,...,...
266,Arábia Saudita,4353.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,1986,1
267,Arábia Saudita,8255.5,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2003,1
268,Arábia Saudita,10058.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2017,1
269,Arábia Saudita,10058.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2018,1
270,Arábia Saudita,466.0,Anual,Alocações de produção de petróleo bruto (1.000...,1.000 barris por dia,2008,1

#### filtro8

In [ ]:
del filtro8['indicator_id']
del filtro8['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro8.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro8.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro8[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro8.replace(traducoes, inplace = True)

In [ ]:
filtro8

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,OPEP,12.7,Diário,Preço nominal do petróleo,$/b,1978,1
1,OPEP,28.64,Diário,Preço nominal do petróleo,$/b,1980,1
2,OPEP,27.01,Diário,Preço nominal do petróleo,$/b,1985,1
3,OPEP,12.28,Diário,Preço nominal do petróleo,$/b,1998,1
4,OPEP,27.6,Diário,Preço nominal do petróleo,$/b,2000,1
5,OPEP,24.36,Diário,Preço nominal do petróleo,$/b,2002,1
6,OPEP,36.05,Diário,Preço nominal do petróleo,$/b,2004,1
7,OPEP,94.45,Diário,Preço nominal do petróleo,$/b,2008,1
8,OPEP,61.06,Diário,Preço nominal do petróleo,$/b,2009,1
9,OPEP,40.76,Diário,Preço nominal do petróleo,$/b,2016,1
10,OPEP,10.73,Diário,Preço nominal do petróleo,$/b,1974,1
11,OPEP,14.24,Diário,Preço nominal do petróleo,$/b,1988,1
12,OPEP,28.1,Diário,Preço nominal do petróleo,$/b,2003,1
13,OPEP,49.49,Diário,Preço nominal do petróleo,$/b,2015,1
14,OPEP,17.25,Diário,Preço nominal do petróleo,$/b,1979,1
15,OPEP,17.31,Diário,Preço nominal do petróleo,$/b,1989,1
16,OPEP,77.45,Diário,Preço nominal do petróleo,$/b,2010,1
17,OPEP,2.29,Diário,Preço nominal do petróleo,$/b,1972,1
18,OPEP,29.04,Diário,Preço nominal do petróleo,$/b,1983,1
19,OPEP,13.53,Diário,Preço nominal do petróleo,$/b,1986,1
20,OPEP,17.73,Diário,Preço nominal do petróleo,$/b,1987,1
21,OPEP,18.44,Diário,Preço nominal do petróleo,$/b,1992,1
22,OPEP,16.33,Diário,Preço nominal do petróleo,$/b,1993,1
23,OPEP,15.53,Diário,Preço nominal do petróleo,$/b,1994,1
24,OPEP,20.29,Diário,Preço nominal do petróleo,$/b,1996,1
25,OPEP,17.48,Diário,Preço nominal do petróleo,$/b,1999,1
26,OPEP,50.64,Diário,Preço nominal do petróleo,$/b,2005,1
27,OPEP,69.08,Diário,Preço nominal do petróleo,$/b,2007,1
28,OPEP,69.78,Diário,Preço nominal do petróleo,$/b,2018,1
29,OPEP,64.04,Diário,Preço nominal do petróleo,$/b,2019,1
30,OPEP,3.05,Diário,Preço nominal do petróleo,$/b,1973,1
31,OPEP,11.51,Diário,Preço nominal do petróleo,$/b,1976,1
32,OPEP,12.39,Diário,Preço nominal do petróleo,$/b,1977,1
33,OPEP,32.38,Diário,Preço nominal do petróleo,$/b,1982,1
34,OPEP,28.2,Diário,Preço nominal do petróleo,$/b,1984,1
35,OPEP,18.62,Diário,Preço nominal do petróleo,$/b,1991,1
36,OPEP,52.43,Diário,Preço nominal do petróleo,$/b,2017,1
37,OPEP,41.47,Diário,Preço nominal do petróleo,$/b,2020,1
38,OPEP,10.73,Diário,Preço nominal do petróleo,$/b,1975,1
39,OPEP,32.51,Diário,Preço nominal do petróleo,$/b,1981,1
40,OPEP,22.26,Diário,Preço nominal do petróleo,$/b,1990,1
41,OPEP,16.86,Diário,Preço nominal do petróleo,$/b,1995,1
42,OPEP,18.68,Diário,Preço nominal do petróleo,$/b,1997,1
43,OPEP,23.12,Diário,Preço nominal do petróleo,$/b,2001,1
44,OPEP,61.08,Diário,Preço nominal do petróleo,$/b,2006,1
45,OPEP,107.46,Diário,Preço nominal do petróleo,$/b,2011,1
46,OPEP,109.45,Diário,Preço nominal do petróleo,$/b,2012,1
47,OPEP,105.87,Diário,Preço nominal do petróleo,$/b,2013,1
48,OPEP,96.29,Diário,Preço nominal do petróleo,$/b,2014,1

#### filtro9

In [ ]:
del filtro9['indicator_id']
del filtro9['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro9.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro9.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro9[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro9.replace(traducoes, inplace = True)

In [ ]:
filtro9

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Iraque,7.808,Anual,População de membros da OPEP,Milhões de habitantes,1962,1
1,Iraque,8.869,Anual,População de membros da OPEP,Milhões de habitantes,1966,1
2,Iraque,9.161,Anual,População de membros da OPEP,Milhões de habitantes,1967,1
3,Iraque,11.19,Anual,População de membros da OPEP,Milhões de habitantes,1973,1
4,Iraque,11.972,Anual,População de membros da OPEP,Milhões de habitantes,1975,1
...,...,...,...,...,...,...,...
849,Iraque,12.38,Anual,População de membros da OPEP,Milhões de habitantes,1976,1
850,Iraque,12.799,Anual,População de membros da OPEP,Milhões de habitantes,1977,1
851,Iraque,14.586,Anual,População de membros da OPEP,Milhões de habitantes,1983,1
852,Iraque,24.086,Anual,População de membros da OPEP,Milhões de habitantes,2000,1
853,Iraque,27.963,Anual,População de membros da OPEP,Milhões de habitantes,2005,1

#### filtro10

In [ ]:
del filtro10['indicator_id']
del filtro10['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro10.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro10.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro10[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro10.replace(traducoes, inplace = True)

In [ ]:
filtro10

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Trinidad e Tobago,322.2,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1980,1
1,Trinidad e Tobago,259.6,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1981,1
2,Trinidad e Tobago,222.3,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1982,1
3,Trinidad e Tobago,149.24942,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1988,1
4,Trinidad e Tobago,145.913,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1990,1
...,...,...,...,...,...,...,...
2843,Suécia,174.497142025472,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,1998,1
2844,Suécia,228.0,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,2004,1
2845,Suécia,226.0,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,2006,1
2846,Suécia,248.0,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,2009,1
2847,Suécia,245.915087237583,Anual,Exportações mundiais de petróleo bruto e produ...,1.000 barris por dia,2014,1

##### Filtro10 Brasil

In [ ]:
del filtro10_br['indicator_id']
del filtro10_br['location_id']
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro10_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro10_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro10_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro10_br.replace(traducoes, inplace = True)

#### filtro11

In [ ]:
del filtro11['indicator_id']
del filtro11['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro11.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro11.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro11[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro11.replace(traducoes, inplace = True)

In [ ]:
filtro11

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,OCDE Ásia e Pacífico,100.1,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,1963,1
1,OCDE Ásia e Pacífico,100.1,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,1964,1
2,OCDE Ásia e Pacífico,2496.0,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,1970,1
3,OCDE Ásia e Pacífico,2139.0,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,1973,1
4,OCDE Ásia e Pacífico,2002,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,1974,1
...,...,...,...,...,...,...,...
3550,"Outros, Outra Ásia",1201.082,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,2005,1
3551,"Outros, Outra Ásia",1134.0,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,2011,1
3552,"Outros, Outra Ásia",1227.06,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,2014,1
3553,"Outros, Outra Ásia",1173.0,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,2017,1
3554,"Outros, Outra Ásia",1145.0,Anual,Reservas Mundiais de Petróleo Comprovadas,milhões de barris,2018,1

##### Filtro11 Brasil

In [ ]:
del filtro11_br['indicator_id']
del filtro11_br['location_id']
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro11_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro11_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro11_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro11_br.replace(traducoes, inplace = True)

#### filtro12

In [ ]:
del filtro12['indicator_id']
del filtro12['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro12.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro12.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro12[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro12.replace(traducoes, inplace = True)

In [ ]:
filtro12

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Venezuela,1445.05,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1967,1
1,Venezuela,11767.4,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1978,1
2,Venezuela,10670.0,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1979,1
3,Venezuela,12714.0,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1992,1
4,Venezuela,11937.0,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1995,1
...,...,...,...,...,...,...,...
849,Venezuela,1188.36,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1960,1
850,Venezuela,1249.35,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1964,1
851,Venezuela,1420.52,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1965,1
852,Venezuela,1306.88,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1966,1
853,Venezuela,4148.05,Anual,Valores das importações dos membros da OPEP (m $),Milhão de dolares,1974,1

#### filtro13

In [ ]:
del filtro13['indicator_id']
del filtro13['location_id']

In [ ]:
#Traduzindo as minhas colunas para o formato PT 
try:
  filtro13.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))

In [ ]:
#Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro13.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro13[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text

In [ ]:
filtro13.replace(traducoes, inplace = True)

In [ ]:
filtro13

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,OCDE Ásia e Pacífico,4661.4001369863,Anual,Importações de petróleo bruto,1.000 barris por dia,1981,1
1,OCDE Ásia e Pacífico,3997.98332315069,Anual,Importações de petróleo bruto,1.000 barris por dia,1987,1
2,OCDE Ásia e Pacífico,4327.43717808219,Anual,Importações de petróleo bruto,1.000 barris por dia,1988,1
3,OCDE Ásia e Pacífico,6758.0215890411,Anual,Importações de petróleo bruto,1.000 barris por dia,1994,1
4,OCDE Ásia e Pacífico,7703.97549082192,Anual,Importações de petróleo bruto,1.000 barris por dia,1997,1
...,...,...,...,...,...,...,...
2830,Suécia,405.814410958904,Anual,Importações de petróleo bruto,1.000 barris por dia,2005,1
2831,Suécia,383.704410958904,Anual,Importações de petróleo bruto,1.000 barris por dia,2009,1
2832,Suécia,416.344590163934,Anual,Importações de petróleo bruto,1.000 barris por dia,2012,1
2833,Suécia,405.975945205479,Anual,Importações de petróleo bruto,1.000 barris por dia,2015,1
2834,Suécia,374.943715846995,Anual,Importações de petróleo bruto,1.000 barris por dia,2020,1

##### Filtro13 Brasil

In [ ]:
del filtro13_br['indicator_id']
del filtro13_br['location_id']

#Traduzindo as minhas colunas para o formato PT 
try:
  filtro13_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro13_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro13_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro13_br.replace(traducoes, inplace = True)

In [ ]:
filtro13_br

,nome_local,valor,frequência,nome_indicador,unidade_indicador,Ano,Mes
0,Brasil,651.260479,Anual,Importações de petróleo bruto,1.000 barris por dia,1984,1
1,Brasil,417.780921,Anual,Importações de petróleo bruto,1.000 barris por dia,2001,1
2,Brasil,363.5,Anual,Importações de petróleo bruto,1.000 barris por dia,2013,1
3,Brasil,251.666666666667,Anual,Importações de petróleo bruto,1.000 barris por dia,2015,1
4,Brasil,134.333333333333,Anual,Importações de petróleo bruto,1.000 barris por dia,2020,1
5,Brasil,570.774178,Anual,Importações de petróleo bruto,1.000 barris por dia,1990,1
6,Brasil,525.758534,Anual,Importações de petróleo bruto,1.000 barris por dia,1991,1
7,Brasil,508.131148,Anual,Importações de petróleo bruto,1.000 barris por dia,1993,1
8,Brasil,574.537699,Anual,Importações de petróleo bruto,1.000 barris por dia,1997,1
9,Brasil,381.973381,Anual,Importações de petróleo bruto,1.000 barris por dia,2002,1
10,Brasil,372.200318,Anual,Importações de petróleo bruto,1.000 barris por dia,2008,1
11,Brasil,312.791381,Anual,Importações de petróleo bruto,1.000 barris por dia,2010,1
12,Brasil,311.5,Anual,Importações de petróleo bruto,1.000 barris por dia,2012,1
13,Brasil,149.833333333333,Anual,Importações de petróleo bruto,1.000 barris por dia,2017,1
14,Brasil,871.367918,Anual,Importações de petróleo bruto,1.000 barris por dia,1980,1
15,Brasil,844.83614,Anual,Importações de petróleo bruto,1.000 barris por dia,1981,1
16,Brasil,729.316329,Anual,Importações de petróleo bruto,1.000 barris por dia,1983,1
17,Brasil,529.849195,Anual,Importações de petróleo bruto,1.000 barris por dia,1992,1
18,Brasil,570.301279,Anual,Importações de petróleo bruto,1.000 barris por dia,1996,1
19,Brasil,398.229233,Anual,Importações de petróleo bruto,1.000 barris por dia,2000,1
20,Brasil,342.675789,Anual,Importações de petróleo bruto,1.000 barris por dia,2003,1
21,Brasil,360.032712,Anual,Importações de petróleo bruto,1.000 barris por dia,2009,1
22,Brasil,134.25,Anual,Importações de petróleo bruto,1.000 barris por dia,2016,1
23,Brasil,185.583333333333,Anual,Importações de petróleo bruto,1.000 barris por dia,2018,1
24,Brasil,188.916666666667,Anual,Importações de petróleo bruto,1.000 barris por dia,2019,1
25,Brasil,545.051145,Anual,Importações de petróleo bruto,1.000 barris por dia,1985,1
26,Brasil,600.961562,Anual,Importações de petróleo bruto,1.000 barris por dia,1986,1
27,Brasil,640.437411,Anual,Importações de petróleo bruto,1.000 barris por dia,1988,1
28,Brasil,591.711123,Anual,Importações de petróleo bruto,1.000 barris por dia,1989,1
29,Brasil,552.476277,Anual,Importações de petróleo bruto,1.000 barris por dia,1994,1
30,Brasil,446.854877,Anual,Importações de petróleo bruto,1.000 barris por dia,2004,1
31,Brasil,797.675414,Anual,Importações de petróleo bruto,1.000 barris por dia,1982,1
32,Brasil,618.353178,Anual,Importações de petróleo bruto,1.000 barris por dia,1987,1
33,Brasil,503.343274,Anual,Importações de petróleo bruto,1.000 barris por dia,1995,1
34,Brasil,550.263397,Anual,Importações de petróleo bruto,1.000 barris por dia,1998,1
35,Brasil,470.266932,Anual,Importações de petróleo bruto,1.000 barris por dia,1999,1
36,Brasil,338.217014,Anual,Importações de petróleo bruto,1.000 barris por dia,2005,1
37,Brasil,331.679671,Anual,Importações de petróleo bruto,1.000 barris por dia,2006,1
38,Brasil,392.623945,Anual,Importações de petróleo bruto,1.000 barris por dia,2007,1
39,Brasil,318.166666666667,Anual,Importações de petróleo bruto,1.000 barris por dia,2011,1
40,Brasil,333.333333333333,Anual,Importações de petróleo bruto,1.000 barris por dia,2014,1

#### filtro world_oil

In [52]:
del filtro_world_oil['indicator_id']
del filtro_world_oil['location_id']

#Traduzindo as minhas colunas para o formato PT 
try:
  filtro_world_oil.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro_world_oil.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro_world_oil[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro_world_oil.replace(traducoes, inplace = True)

In [82]:
del filtro_world_oil_br['indicator_id']
del filtro_world_oil_br['location_id']

#Traduzindo as minhas colunas para o formato PT 
try:
  filtro_world_oil_br.rename(columns=lambda x: tradutor.translate(x, src='en', dest='pt').text, inplace=True)
except Exception as e:
  print(str(e))
  #Traduzindo todas as linhas para o formato PT 

#Criando um dicionário vazio
traducoes = {}

#Estrutura de repetição que vai percorrer verificar e todas colunas no dataframe
for colunas in filtro_world_oil_br.columns:
    
    #Procurando elementos unicos no dataframe
    elementos_unicos = filtro_world_oil_br[colunas].unique()
    
    #Estrutura de repetição que vai percorrer cada um dos elementos, traduzi-los e adicionar essa tradução dentro do meu dicionário
    for elemento in elementos_unicos:
        traducoes[elemento] = tradutor.translate(elemento, dest='pt').text
        
filtro_world_oil_br.replace(traducoes, inplace = True)

## **Salvando dataframes no Bucket**

In [ ]:
# Convertendo em Pandas

pd_Importacoes_de_petroleo_bruto = df_Importacoes_de_petroleo_bruto.toPandas()
pd_Importacao_de_petroleo_bruto_e_derivados = df_Importacao_de_petroleo_bruto_e_derivados.toPandas()
pd_Numero_de_plataformas_ativas = df_Numero_de_plataformas_ativas.toPandas()
pd_Importacao_de_Produtos_Petroliferos = df_Importacao_de_Produtos_Petroliferos.toPandas()
pd_Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos = df_Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos.toPandas()
pd_Capacidade_Mundial_de_Refinacao = df_Capacidade_Mundial_de_Refinacao.toPandas()
pd_Exportacoes_mundiais_de_petroleo_bruto = df_Exportacoes_mundiais_de_petroleo_bruto.toPandas()
pd_Producao_mundial_de_petroleo_bruto = df_Producao_mundial_de_petroleo_bruto.toPandas()
pd_Exportacoes_mundiais_de_produtos_petroliferos = df_Exportacoes_mundiais_de_produtos_petroliferos.toPandas()
pd_Demanda_de_petroleo_da_palavra = df_Demanda_de_petroleo_da_palavra.toPandas()

In [ ]:
# transformar em  csv e salvar no bucket
pd_Importacoes_de_petroleo_bruto.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Importacoes_de_petroleo_bruto.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Importacao_de_petroleo_bruto_e_derivados.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Importacao_de_petroleo_bruto_e_derivados.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Numero_de_plataformas_ativas.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Numero_de_plataformas_ativas.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Importacao_de_Produtos_Petroliferos.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Importacao_de_Produtos_Petroliferos.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Capacidade_Mundial_de_Refinacao.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Capacidade_Mundial_de_Refinacao.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Exportacoes_mundiais_de_petroleo_bruto.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Exportacoes_mundiais_de_petroleo_bruto.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Producao_mundial_de_petroleo_bruto.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Producao_mundial_de_petroleo_bruto.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Exportacoes_mundiais_de_produtos_petroliferos.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Exportacoes_mundiais_de_produtos_petroliferos.csv', index = False)

In [ ]:
# transformar em  csv e salvar no bucket
pd_Demanda_de_petroleo_da_palavra.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/Demanda_de_petroleo_da_palavra.csv', index = False)

In [ ]:
filtro1.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_valores_das_exportacoes_de_petroleo_dos_membros_da_opep.csv', index = False)
filtro2.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacao_de_produtos_petroliferos.csv', index = False)
filtro2_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacao_de_produtos_petroliferos_brasil.csv', index = False)
filtro3.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_producao_mundial_de_petroleo_bruto.csv', index = False)
filtro3_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_producao_mundial_de_petroleo_bruto_brasil.csv', index = False)
filtro4.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_exportacoes_mundiais_de_produtos_petroliferos.csv', index = False)
filtro4_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_exportacoes_mundiais_de_produtos_petroliferos_brasil.csv', index = False)
filtro5.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacao_de_petroleo_bruto_e_derivados.csv', index = False)
filtro5_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacao_de_petroleo_bruto_e_derivados_brasil.csv', index = False)
filtro6.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_producao_diaria_e_cumulativa_de_petroleo_bruto.csv', index = False)
filtro7.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_Alocações_de_producao_de_petroleo_bruto_1.000_bd.csv', index = False)
filtro8.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_preco_nominal_do_petroleo.csv', index = False)
filtro9.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_populacao_de_membros_da_OPEP.csv', index = False)
filtro10.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_exportacoes_mundiais_de_petroleo_bruto_e_produtos.csv', index = False)
filtro10_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/db_exportacoes_mundiais_de_petroleo_bruto_e_produtos_brasil.csv', index = False)
filtro11.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_reservas_mundiais_de_petroleo_comprovadas.csv', index = False)
filtro11_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_reservas_mundiais_de_petroleo_comprovadas_brasil.csv', index = False)
filtro12.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_valores_das_importacoes_dos_membros_da_OPEP_m_$.csv', index = False)
filtro13.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacoes_de_petroleo_bruto.csv', index = False)
filtro13_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_importacoes_de_petroleo_bruto_brasil.csv', index = False)

In [83]:
filtro_world_oil.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_demanda mundial de petroleo.csv', index = False)
filtro_world_oil_br.to_csv('gs://projeto-final-parte-2/Tratados/dados_b/_demanda mundial de petroleo_brasil.csv', index = False)

## **Inserindo no Mongo Atlas**

Transformando em dicionario

In [ ]:
# Converte DF para DIC.
dfmongo1 = pd_Importacoes_de_petroleo_bruto.to_dict(orient='records')
dfmongo2 = pd_Importacao_de_petroleo_bruto_e_derivados.to_dict(orient='records')
dfmongo3 = pd_Numero_de_plataformas_ativas.to_dict(orient='records')
dfmongo4 = pd_Importacao_de_Produtos_Petroliferos.to_dict(orient='records')
dfmongo5 = pd_Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos.to_dict(orient='records')
dfmongo6 = pd_Capacidade_Mundial_de_Refinacao.to_dict(orient='records')
dfmongo7 = pd_Exportacoes_mundiais_de_petroleo_bruto.to_dict(orient='records')
dfmongo8 = pd_Producao_mundial_de_petroleo_bruto.to_dict(orient='records')
dfmongo9 = pd_Exportacoes_mundiais_de_produtos_petroliferos.to_dict(orient='records')
dfmongo10 = pd_Demanda_de_petroleo_da_palavra.to_dict(orient='records')
dfmongo11 = df_oppec.to_dict(orient='records')

In [ ]:
# dfmongo2

In [ ]:
myclient.Projeto_Final.Importacoes_de_petroleo_bruto.insert_many(dfmongo1)

In [ ]:
myclient.Projeto_Final.Importacao_de_petroleo_bruto_e_derivados.insert_many(dfmongo2)

In [ ]:
myclient.Projeto_Final.Numero_de_plataformas_ativas.insert_many(dfmongo3)

In [ ]:
myclient.Projeto_Final.Importacao_de_Produtos_Petroliferos.insert_many(dfmongo4)

In [ ]:
myclient.Projeto_Final.Exportacoes_mundiais_de_petroleo_bruto_e_produtos_petroliferos.insert_many(dfmongo5)

In [ ]:
myclient.Projeto_Final.Capacidade_Mundial_de_Refinacao.insert_many(dfmongo6)

In [ ]:
myclient.Projeto_Final.Exportacoes_mundiais_de_petroleo_bruto.insert_many(dfmongo7)

In [ ]:
myclient.Projeto_Final.Producao_mundial_de_petroleo_bruto.to.insert_many(dfmongo8)

In [ ]:
myclient.Projeto_Final.Exportacoes_mundiais_de_produtos_petroliferos.to.insert_many(dfmongo9)

In [ ]:
myclient.Projeto_Final.Demanda_de_petroleo_da_palavra.to.insert_many(dfmongo10)

In [ ]:
myclient.Projeto_Final.oppec_annual_original.to.insert_many(dfmongo11)

In [ ]:
# Verificando se os dados foram inseridos
print(myclient.list_database_names())

In [ ]:
# teste

teste = pd.read_csv('/content/Dados_E_05_tratado.csv', sep=',')

In [ ]:
teste

,Unnamed: 0,Ano,Mês,Estado,Bacia,Campo,Poço,Ambiente,Instalação,Produção de Óleo (m³),...,Produção de Gás Não Associado (Mm³),Produção de Água (m³),Injeção de Gás (Mm³),Injeção de Água para Recuperação Secundária (m³),Injeção de Água para Descarte (m³),Injeção de Gás Carbônico (Mm³),Injeção de Nitrogênio (Mm³),Injeção de Vapor de Água (t),Injeção de Polímeros (m³),Injeção de Outros Fluidos (m³)
0,0,2022,1,Alagoas,Alagoas,PARU,4-ALS-39-AL,Mar,Estação de Paru,0.0,...,0.0,4443.0,1913.0,28.0,935.0,NaN,NaN,NaN,NaN,NaN
1,1,2022,1,Bahia,Camamu,MANATI,7-MNT-1-BAS,Mar,PLATAFORMA DE MANATI 1,0.0,...,0.0,15534.0,88893.0,96.0,315.0,NaN,NaN,NaN,NaN,NaN
2,2,2022,1,Bahia,Camamu,MANATI,7-MNT-2-BAS,Mar,PLATAFORMA DE MANATI 1,0.0,...,0.0,15523.0,9251.0,96.0,249.0,NaN,NaN,NaN,NaN,NaN
3,3,2022,1,Bahia,Camamu,MANATI,7-MNT-3-BAS,Mar,PLATAFORMA DE MANATI 1,0.0,...,0.0,10426.0,60248.0,68.0,815.0,NaN,NaN,NaN,NaN,NaN
4,4,2022,1,Bahia,Camamu,MANATI,7-MNT-4-BAS,Mar,PLATAFORMA DE MANATI 1,0.0,...,0.0,16445.0,85832.0,110.0,188.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7093,7093,2022,4,São Paulo,Santos,SUDOESTE DE SAPINHOÁ,8-SPH-24D-SPS,Mar,FPSO CIDADE DE SÃO PAULO,NaN,...,NaN,NaN,0.0,2395.0,28439.0,0.0,0.0,0.0,0.0,0.0
7094,7094,2022,4,São Paulo,Santos,SUDOESTE DE SAPINHOÁ,8-SPH-9-SPS,Mar,FPSO CIDADE DE ILHA BELA,NaN,...,NaN,NaN,1235.0,82913.0,0.0,0.0,650.0,60947.0,0.0,0.0
7095,7095,2022,4,São Paulo,Santos,SUDOESTE DE SAPINHOÁ,9-BRSA-1037-SPS,Mar,FPSO CIDADE DE ILHA BELA,NaN,...,NaN,NaN,0.0,3753.0,72036.0,0.0,0.0,0.0,0.0,0.0
7096,7096,2022,4,São Paulo,Santos,SUDOESTE DE SAPINHOÁ,9-BRSA-1043-SPS,Mar,FPSO CIDADE DE SÃO PAULO,NaN,...,NaN,NaN,1253.0,4852.0,0.0,0.0,618.0,9154.0,0.0,0.0
7097,7097,2022,4,São Paulo,Santos,SUDOESTE DE SAPINHOÁ,9-BRSA-928-SPS,Mar,FPSO CIDADE DE SÃO PAULO,0.0,...,0.0,927.0,0.0,0.0,1104.0,NaN,NaN,NaN,NaN,NaN

## **Salvando no postgres**

In [ ]:
# inserindo dataframes filtrados no postgres
engine_ptg = create_engine.create_engine('postgresql+psycopg2://postgres:postgresgcp@35.239.158.143:5432/projeto_final')

filtro1.to_sql('dados_b_valores_das_exportacoes_de_petroleo_dos_membros_da_opep', engine_ptg , method='multi')
filtro2.to_sql('dados_b_importacao_de_produtos_petroliferos', engine_ptg , method='multi')
filtro2_br.to_sql('dados_b_importacao_de_produtos_petroliferos_brasil', engine_ptg , method='multi')
filtro3.to_sql('dados_b_producao_mundial_de_petroleo_bruto', engine_ptg , method='multi')
filtro3_br.to_sql('dados_b_producao_mundial_de_petroleo_bruto_brasil', engine_ptg , method='multi')
filtro4.to_sql('dados_b_exportacoes_mundiais_de_produtos_petroliferos', engine_ptg , method='multi')
filtro4_br.to_sql('dados_b_exportacoes_mundiais_de_produtos_petroliferos_brasil', engine_ptg , method='multi')
filtro5.to_sql('dados_b_importacao_de_petroleo_bruto_e_derivados', engine_ptg , method='multi')
filtro5_br.to_sql('dados_b_importacao_de_petroleo_bruto_e_derivados_brasil', engine_ptg , method='multi')
filtro6.to_sql('dados_b_producao_diaria_e_cumulativa_de_petroleo_bruto', engine_ptg , method='multi')
filtro7.to_sql('dados_b_Alocações_de_producao_de_petroleo_bruto_1.000_b/d', engine_ptg , method='multi')
filtro8.to_sql('dados_b_preco_nominal_do_petroleo', engine_ptg , method='multi')
filtro9.to_sql('dados_b_populacao_de_membros_da_OPEP', engine_ptg , method='multi')
filtro10.to_sql('dados_b_exportacoes_mundiais_de_petroleo_bruto_e_produtos', engine_ptg , method='multi')
filtro10_br.to_sql('db_exportacoes_mundiais_de_petroleo_bruto_e_produtos_brasil', engine_ptg , method='multi')
filtro11.to_sql('dados_b_reservas_mundiais_de_petroleo_comprovadas', engine_ptg , method='multi')
filtro11_br.to_sql('dados_b_reservas_mundiais_de_petroleo_comprovadas_brasil', engine_ptg , method='multi')
filtro12.to_sql('dados_b_valores_das_importacoes_dos_membros_da_OPEP_m_$', engine_ptg , method='multi')
filtro13.to_sql('dados_b_importacoes_de_petroleo_bruto', engine_ptg , method='multi')
filtro13_br.to_sql('dados_b_importacoes_de_petroleo_bruto_brasil', engine_ptg , method='multi')