## ***Bibliotecas***

In [ ]:
pip install psycopg2-binary==2.8.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary==2.8.6
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 5.2 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [ ]:
pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
! pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 6.0 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 30 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b82a1383eeb3873ae59dfc328414de02ee7d6c9b5b590696e35886ccb4e8a9fe
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
!pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.5.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 6.5 MB/s
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Collecting fsspec==2022.5.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 74.1 MB/s
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 70.3 MB/s
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 2.4 MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 15.9 MB/s
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.6)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.5.0 gcsfs-2022.5.0 multidict-6.0.2 yarl-1.7.2

In [ ]:
!pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.37)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)

In [ ]:
!pip3 install googletrans==3.1.0a

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==3.1.0a
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.2 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.4 MB/s
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting hstspreload
  Downloading hstspreload-2021.12.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 10.6 MB/s
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a) (3.0.4)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a) (2.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a) (2022.5.18.1)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.4 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.7 MB/s
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=9866c9c513ecdb37bf2c691baf6d22e70e500612e27dc5ca38a59fc49bceb0f7
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [ ]:
# utilizado para conexão com GCP 
import os
from google.cloud import storage

# conexão com Mongo DB
from pymongo import MongoClient

# conexão Postgres
from sqlalchemy import create_engine
import sqlalchemy as create_engine


#IMPORTA AS BIBLIOTECAS NECESSÁRIAS PYSPARK
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *


# bibliotecas tratamento
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#tradução
import googletrans 
from googletrans import Translator

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
from google.cloud import storage

## ***Conexão Spark***

In [ ]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

## ***Conexão Mongo Atlas***

In [ ]:
# conectando com o mongodb para coletar dados
myclient = MongoClient("mongodb+srv://soulcode:a1b2c3@cluster0.dvp4c.mongodb.net/test")

## ***Conector Chave de acesso GCP***

In [ ]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA bucket GCP
serviceAccount = '/content/drive/MyDrive/Dataset/ProjetoFinal/hopeful-list-349119-f034072f7a24.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

NameError: ignored

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
clientt = storage.Client()

## ***Dados Mensal Brasil***

In [ ]:
 dfmensal = pd.read_csv('gs://datasets_projeto_final/Tratados/mensal-brasil-precos-comubustiveis.csv', sep= ',')

In [ ]:
dfmensal.replace(r",", ".", regex=True, inplace=True)

In [ ]:
dfmensal.to_csv('gs://datasets_projeto_final/Originais/mensal-brasil-precos-comubustiveis.csv', index = False)

In [ ]:
#Função utilizada para filtrar e calcular a quantidade de resgistros em branco, e a proporção dessa perda antes do ETL.
def dados_perdidos(dfmensal):
    perdas = dfmensal.isna().sum()
    perdas = perdas[perdas >0 ]
    perdas_proporcionais = perdas/dfmensal.shape[0]
    perdas_totais = perdas_proporcionais > 0.05

    return pd.DataFrame({"Perdas" : perdas, "Proporção de perdas" : perdas_proporcionais, "Perdas maiores que 5%" : perdas_totais})


dados_perdidos(dfmensal)

Empty DataFrame
Columns: [Perdas, Proporção de perdas, Perdas maiores que 5%]
Index: []

In [ ]:
dfmensal.head()

,MÊS,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,jan.-13,ETANOL HIDRATADO,39584,R$/l,1.956,0.244,1.479,3.120,0.266,0.125,1.690,0.222,1.220,2.475,0.131
1,jan.-13,GASOLINA COMUM,41990,R$/l,2.763,0.148,2.229,3.899,0.386,0.054,2.377,0.109,2.080,2.895,0.046
2,jan.-13,GLP,39597,R$/13kg,40.164,3.964,26.000,62.000,10.310,0.099,29.854,4.462,15.000,45.000,0.149
3,jan.-13,GNV,2401,R$/m3,1.764,0.171,1.379,2.599,0.407,0.097,1.357,0.154,0.835,1.913,0.113
4,jan.-13,OLEO DIESEL,32749,R$/l,2.156,0.114,1.869,2.950,0.230,0.053,1.926,0.080,1.398,2.570,0.042

In [ ]:
dfmensal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   MÊS                            692 non-null    object
 1   PRODUTO                        692 non-null    object
 2   NÚMERO DE POSTOS PESQUISADOS   692 non-null    int64
 3   UNIDADE DE MEDIDA              692 non-null    object
 4   PREÇO MÉDIO REVENDA            692 non-null    float64
 5   DESVIO PADRÃO REVENDA          692 non-null    float64
 6   PREÇO MÍNIMO REVENDA           692 non-null    float64
 7   PREÇO MÁXIMO REVENDA           692 non-null    float64
 8   MARGEM MÉDIA REVENDA           692 non-null    object
 9   COEF DE VARIAÇÃO REVENDA       692 non-null    float64
 10  PREÇO MÉDIO DISTRIBUIÇÃO       692 non-null    object
 11  DESVIO PADRÃO DISTRIBUIÇÃO     692 non-null    object
 12  PREÇO MÍNIMO DISTRIBUIÇÃO      692 non-null    object
 13  PREÇO MÁXIMO DISTRIBUIÇÃO      692 non-null    object
 14  COEF DE VARIAÇÃO DISTRIBUIÇÃO  692 non-null    object
dtypes: float64(5), int64(1), object(9)
memory usage: 81.2+ KB

In [ ]:
dfmensal.columns

Index(['MÊS', 'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO'],
      dtype='object')

In [ ]:
pd.unique(dfmensal['MÊS'])

In [ ]:
dfmesbrasil_original = spark.createDataFrame(dfmensal)

In [ ]:
dfmesbrasil = dfmesbrasil_original.withColumn("MES", F.substring(F.col('MÊS'), 1, 3))

In [ ]:
dfmesbrasil = dfmesbrasil.withColumn("ANO", F.substring(F.col('MÊS'), 6, 7))

In [ ]:
dfmesbrasilpd = dfmesbrasil.drop('MÊS').toPandas()

In [ ]:
dfmesbrasil.show()

In [ ]:
dfmesbrasil.printSchema()

root
 |-- MÊS: string (nullable = true)
 |-- PRODUTO: string (nullable = true)
 |-- NÚMERO DE POSTOS PESQUISADOS: long (nullable = true)
 |-- UNIDADE DE MEDIDA: string (nullable = true)
 |-- PREÇO MÉDIO REVENDA: double (nullable = true)
 |-- DESVIO PADRÃO REVENDA: double (nullable = true)
 |-- PREÇO MÍNIMO REVENDA: double (nullable = true)
 |-- PREÇO MÁXIMO REVENDA: double (nullable = true)
 |-- MARGEM MÉDIA REVENDA: string (nullable = true)
 |-- COEF DE VARIAÇÃO REVENDA: double (nullable = true)
 |-- PREÇO MÉDIO DISTRIBUIÇÃO: string (nullable = true)
 |-- DESVIO PADRÃO DISTRIBUIÇÃO: string (nullable = true)
 |-- PREÇO MÍNIMO DISTRIBUIÇÃO: string (nullable = true)
 |-- PREÇO MÁXIMO DISTRIBUIÇÃO: string (nullable = true)
 |-- COEF DE VARIAÇÃO DISTRIBUIÇÃO: string (nullable = true)
 |-- MES: string (nullable = true)
 |-- ANO: string (nullable = true)

In [ ]:
dfmesbrasilpd

,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES,ANO
0,ETANOL HIDRATADO,39584,R$/l,1.956,0.244,1.479,3.120,0.266,0.125,1.690,0.222,1.220,2.475,0.131,jan,13
1,GASOLINA COMUM,41990,R$/l,2.763,0.148,2.229,3.899,0.386,0.054,2.377,0.109,2.080,2.895,0.046,jan,13
2,GLP,39597,R$/13kg,40.164,3.964,26.000,62.000,10.310,0.099,29.854,4.462,15.000,45.000,0.149,jan,13
3,GNV,2401,R$/m3,1.764,0.171,1.379,2.599,0.407,0.097,1.357,0.154,0.835,1.913,0.113,jan,13
4,OLEO DIESEL,32749,R$/l,2.156,0.114,1.869,2.950,0.230,0.053,1.926,0.080,1.398,2.570,0.042,jan,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,GASOLINA COMUM,24261,R$/l,7.278,0.426,6.180,8.990,-,0.059,-,-,-,-,-,mai,22
688,GLP,18129,R$/13kg,112.859,10.172,84.990,160.000,-,0.090,-,-,-,-,-,mai,22
689,GNV,1740,R$/m³,5.239,0.631,3.179,7.429,-,0.120,-,-,-,-,-,mai,22
690,OLEO DIESEL,11187,R$/l,6.844,0.384,5.490,8.690,-,0.056,-,-,-,-,-,mai,22
691,OLEO DIESEL S10,20206,R$/l,6.974,0.362,5.378,8.490,-,0.052,-,-,-,-,-,mai,22

In [ ]:
dfmesbrasilpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   PRODUTO                        692 non-null    object
 1   NÚMERO DE POSTOS PESQUISADOS   692 non-null    int64
 2   UNIDADE DE MEDIDA              692 non-null    object
 3   PREÇO MÉDIO REVENDA            692 non-null    float64
 4   DESVIO PADRÃO REVENDA          692 non-null    float64
 5   PREÇO MÍNIMO REVENDA           692 non-null    float64
 6   PREÇO MÁXIMO REVENDA           692 non-null    float64
 7   MARGEM MÉDIA REVENDA           552 non-null    float64
 8   COEF DE VARIAÇÃO REVENDA       692 non-null    float64
 9   PREÇO MÉDIO DISTRIBUIÇÃO       552 non-null    float64
 10  DESVIO PADRÃO DISTRIBUIÇÃO     552 non-null    float64
 11  PREÇO MÍNIMO DISTRIBUIÇÃO      552 non-null    float64
 12  PREÇO MÁXIMO DISTRIBUIÇÃO      552 non-null    float64
 13  COEF DE VARIAÇÃO DISTRIBUIÇÃO  552 non-null    float64
 14  MES                            692 non-null    object
 15  ANO                            692 non-null    int64
dtypes: float64(11), int64(2), object(3)
memory usage: 86.6+ KB

In [ ]:
dfmesbrasilpd['MARGEM MÉDIA REVENDA'] = pd.to_numeric(dfmesbrasilpd['MARGEM MÉDIA REVENDA'], errors='coerce')

In [ ]:
dfmesbrasilpd.to_csv('gs://datasets_projeto_final/Tratados/mensal-brasil-precos-comubustiveis.csv', index = False)

In [ ]:
enginebrasil = create_engine.create_engine('postgresql+psycopg2://postgres:soulcodebc17@35.224.25.88:5432/Projeto Final')
dfmesbrasilpd.to_sql('Brasil_mensal', enginebrasil , method='multi')

In [ ]:
select_db = pd.read_sql_query('SELECT * FROM "preco_medio_final"', con=enginebrasil)
select_db.to_csv('gs://datasets_projeto_final/Tratados/Brasil_preco_medio_final.csv', index=False)